@model PrintingHouse.Domain.Entities.Reports.PolygraphyCostReport
@if (@Model != null)
{
    <div id="calcResults">
        <h3>Детальный отчет</h3>
		@foreach(var bookPart in @Model.PrintingPressesReports)
		{
            <div>
			    <h4>Название части: @bookPart.press.TaskToPrint.Name </h4>
                Название печатного станка: @bookPart.press.NameOfPrintingPress <br />
                Формат печатного станка: @bookPart.press.PressSheetFormat <br />
                 <br />
                Стоимость приладки 1 формы: @bookPart.press.FittingPriceValue <br />
                Стоимость технужд на 1 форму: @bookPart.press.TechNeedsPriceValue <br />
                Формат листов печатного оборудования: @bookPart.press.PressSheetsFormat <br />
                Количество страниц на 1 спуск: @bookPart.press.PagesPerOneImposition <br />
                Количество спусков на 1 книгу: @bookPart.press.ImpositionsPerBook <br />
                Количество печатных листов на 1 книгу: @bookPart.press.PrintingSheetsPerBook <br />
                Количество печатных листов на тираж: @bookPart.press.PrintingSheetsPerPrintRun <br />
                <br />
                Количество печатных форм: @bookPart.press.PrintingForms <br />
                Стоимость 1 формы: @bookPart.press.FormPriceValue <br />
                Стоимость печатных форм: @bookPart.press.CostOfPrintingFoms <br />
                Стоимость лакировки: @bookPart.press.CostOfVarnishing <br />
                 <br />
                Количество оттисков: @bookPart.press.Impressions <br />
                Стоимость 1 оттиска: @bookPart.press.ImpressionPriceValue <br />
                Стоимость печати: @bookPart.press.CostOfImpressions <br />
                 <br />
                <b>Общая сумма за печать: @bookPart.press.CostOfPrinting </b><br />
                <br />
                Расход бумаги на печать (Кол-во печатных листов): @bookPart.press.PrintingSheetsPerPrintRun<br />
                Потребление бумаги для технужд: @bookPart.press.PaperConsumptionForTechnicalNeeds <br />
                Приладка на тираж: @bookPart.press.FittingOnPrintRun <br />
                Расход бумаги для списания в листах формата оборудования:  @bookPart.press.TotalPaperConsumptionInPressFormat <br />
                <br />
                <b>Расход бумаги в кг: @bookPart.PaperConsumptionInKg <br />
                Расход бумаги в листах сырья: @bookPart.PaperConsumptionInRawSheets </b><br />
		    </div>
        }
        <h4>Сборка книги</h4>
        Стоимость переплета: @Model.AssemblyReport.CostOfBinding<br />
        Стоимость ламинации: @Model.AssemblyReport.CostOfLamination<br />
        Стоимость упаковки: @Model.AssemblyReport.CostOfPackaging<br />
        Стоимость перфорации: @Model.AssemblyReport.CostOfPerforation<br />
        <b>Итого: стоимость сборки: @Model.AssemblyReport.TotalCostOfAssembly</b>
    </div>

}
