<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Publishing House</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Publishing House \"The Foundation\"", "BookCalculations", "BookPolygraphyForm", new { }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li class="@IsCurrentPage("/PolygraphyForm/BookCalculations") @IsCurrentPage("/")">
                    @Html.ActionLink("Расчет книг", "BookCalculations", "BookPolygraphyForm")
                </li>
                <li class = @IsCurrentPage("/ExerciseBookPolygraphyForm/ExerciseBookCalculations")>
                    @Html.ActionLink("Расчет тетрадей", "ExerciseBookCalculations", "ExerciseBookPolygraphyForm")
                </li>
                <li class = @IsCurrentPage("/PostersPolygraphyForm/PostersCalculations")>
                    @Html.ActionLink("Расчет плакатов", "PostersCalculations", "PostersPolygraphyForm")
                </li>
            </ul>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Publishing House "The Foundation"</p>
        </footer>
    </div>

    @functions{
        public static string IsCurrentPage(string page)
        {
            return  HttpContext.Current.Request.Url.LocalPath == page ? "active" : null;
        }
    }

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>